body {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: var(--blue);
}

.container {
    width: 100vw;   height: 100vh;
    position: absolute;

    background: url(../img/blue.png) no-repeat;
    background-size: 520px;
    background-position: right 50px bottom -130px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.management-box {
    position: relative;
    width: 40%;     height: 75%;
    border-radius: var(--radius);
    background-color: var(--box);
    box-shadow: var(--box-shadow);
    margin: 3vw;
    color: black;
}
.management-name {
    font-family: RiaSans-ExtraBold;
    font-size: 110px;
    position: absolute;
    top: 85px;
    left: 100px;
}
.management-img {
    position: absolute;
    width: 420px;
    left: 130px;
    bottom: 40px;
}