body {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: var(--blue);
}
.container {
    width: 100vw;
    height: 100vh;
    position: absolute;

    background: url(../img/blue.png) no-repeat;
    background-size: 520px;
    background-position: right 50px bottom -130px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.box {
    width: 90vw;    height: 90vh;
    position: relative;
    background-color: var(--box);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
}

.container h2 {
    position: relative;
    margin: 10vh 10vh 0;
    font-size: 2.3vw;
}
.header {
    position: relative;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #fff;
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);

    box-sizing: border-box;
    padding: 3vh 5vh;
    margin: 3vh 10vh; 
}
.blank {
    width: 70px;
}

.book-list { }
.info-box {
    position: relative;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 2vh 5vh;
    margin: 2vh 10vh;
}
.book-info {
    display: flex;
    flex-direction: column;
    padding-right: 15vw;
}
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}
.sub-info {
    display: flex;
    flex-direction: row;
}
.writer, .publisher {
    font-size: 18px;
}
.writer::after {
    content: "|";
    margin: 0 5px;
}
.date, .state {
    font-size: 20px;
}
.state { }
hr {
    width: 85%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 10vh;
}


/* 첫 번째 팝업 배경 스타일 */
.popup-background {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    width: 100%;    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* 첫 번째 팝업 창 스타일 */
.popup {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    top: 50%;   left: 50%;
    transform: translate(-50%, -50%);
    padding: 4vh;
    background-color: #fff;
    border-radius: var(--radius);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* 두 번째 팝업 창 스타일 (반납 완료 메시지) */
.confirmation-popup {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    top: 50%;   left: 50%;
    transform: translate(-50%, -50%);
    padding: 4vh;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* 팝업 내 텍스트 스타일 */
.popup p {
    font-family: Pretendard-Medium;
    font-size: 30px;
    padding: 0 3vh 2vh;
}
.confirmation-popup p {
    font-family: Pretendard-Medium;
    font-size: 45px;
    padding: 0 3vh 2vh;
}

.successful-img {
    width: 210px;
}

/* 팝업 내 버튼 스타일 */
.popup button {
    padding: 10px 20px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.popup button:hover {
    background-color: var(--point-green);
}