body {
    height: auto;
    position: relative;
    background: var(--red);
}
.container {
    width: 100vw;   height: auto;
    position: absolute; 

    background: url(../img/red.png) no-repeat;
    background-size: 520px;
    background-position: right 50px bottom -130px;
}
.box {
    width: 90vw;    height: auto;
    position: relative;
    background-color: var(--box);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    margin: 6vh 5vw;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh 0 4vh;
}
.search {
    border: 3px solid var(--point-red);
    background: rgba(222, 222, 222, 0.4) url(../img/search-red.png) no-repeat;
    background-position: calc(100% - 20px) center;
}


.new {
    width: 75vw;
    margin: auto;
}
h1 {
    font-size: 38px;
    font-weight: bold;
    margin: 3vh;
}
span {
    color: #FD4B4B; 
    font-weight: bold;
    font-size: 40px;
    margin-left: 0.5vw;
}

.book-box {
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.book img {
    width: auto;    height: 400px;
    border-radius: var(--book-radius);
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vh 1.5vh;
}
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0.8vh;
}
.sub-info {
    display: flex;
    flex-direction: row;

    font-size: 20px;
    color: #1F1F1F;
}
.writer::after {
    content: "|";
    margin: 0 5px;
}
.top {
    width: 75vw;
    margin: 8vh auto;
    padding-bottom: 15vh;
}


/* 첫 번째 팝업 배경 스타일 */
.popup-background {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    width: 100%;    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* 첫 번째 팝업 창 스타일 */
.popup {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    top: 50%;   left: 50%;
    transform: translate(-50%, -50%);
    padding: 4vh;
    background-color: #fff;
    border-radius: var(--radius);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* 두 번째 팝업 창 스타일 (반납 완료 메시지) */
.confirmation-popup {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    top: 50%;   left: 50%;
    transform: translate(-50%, -50%);
    padding: 5vh;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* 팝업 내 텍스트 스타일 */
.popup p {
    font-family: Pretendard-Medium;
    font-size: 30px;
    padding: 0 3vh 2vh;
}
.confirmation-popup p {
    font-family: Pretendard-Medium;
    font-size: 45px;
    padding: 0 3vh 2vh;
}

.successful-img {
    width: 210px;
}
.date {
    font-size: 30px;
    color: #808080;
    margin-bottom: 5vh;
}

/* 팝업 내 버튼 스타일 */
.popup button {
    padding: 10px 20px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.popup button:hover {
    background-color: var(--point-green);
}
