* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular';
}

a { text-decoration-line: none; }
li { list-style: none;}
input { outline: none; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
::placeholder {
    color: #484848;
}

:root {
    --red: #FFAFB5;
    --blue: #ABE2FB;
    --yellow: #FFF9BF;
    --green: #8BE6BA;

    --point-red: #FD4B4B;
    --point-blue: #6089FA;
    --point-yellow: #FFDE6B;
    --point-green: #00723B;

    --box: rgba(255, 255, 255, 0.85);
    --box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    --radius: 20px;

    --book-radius: 0 20px 20px 0;
}

.search {
    width: 50vw;    height: 9vh;
    font-size: 24px;

    border: 3px solid var(--point-blue);
    border-radius: var(--radius);
    background: rgba(222, 222, 222, 0.4);

    box-sizing: border-box;
    padding: 1.2vw 1.5vw;
    margin: 2vw;
}

.button {
    color: #52DA98;
    border: #52DA98 1px solid;
    background-color: transparent;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 18px;
}
.button:hover {
    color: var(--point-green);
    background-color: var(--green);
    border: var(--point-green) 1px solid;
}

/* 첫 번째 팝업 배경 스타일 */
.popup-background {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    width: 100%;    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* 첫 번째 팝업 창 스타일 */
.popup {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    top: 50%;   left: 50%;
    transform: translate(-50%, -50%);
    padding: 4vh;
    background-color: #fff;
    border-radius: var(--radius);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* 대출 완료 알림 팝업 */
.confirmation-popup {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    width: 30vw;
    top: 50%;   left: 50%;
    transform: translate(-50%, -50%);
    padding: 4vh;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* 대출 초과 알림 팝업 */
.limit-popup {
    display: none;
    position: fixed;
    width: 30vw;
    top: 50%;   left: 50%;
    transform: translate(-50%, -50%);
    padding: 4vh;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* 팝업 내 텍스트 스타일 */
.popup p {
    font-family: 'Pretendard-Medium';
    font-size: 30px;
    padding: 0 3vh 2vh;
}
.confirmation-popup p, .limit-popup p {
    font-family: 'Pretendard-Medium';
    font-size: 45px;
    padding: 0 3vh 2vh;
}

.successful-img {
    width: 210px;
}
.popup-date {
    font-size: 30px;
    color: #808080;
    margin-bottom: 5vh;
}

/* 팝업 내 버튼 스타일 */
.popup button {
    padding: 10px 20px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.popup button:hover {
    background-color: var(--point-green);
}

/* Pretendard Thin (100) */
@font-face {
    font-family: 'Pretendard-Thin';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

/* Pretendard Extra Light (200) */
@font-face {
    font-family: 'Pretendard-ExtraLight';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

/* Pretendard Light (300) */
@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* Pretendard Regular (400) */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Pretendard Medium (500) */
@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/* Pretendard Semi Bold (600) */
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

/* Pretendard Bold (700) */
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* Pretendard Extra Bold (800) */
@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

/* Pretendard Black (900) */
@font-face {
    font-family: 'Pretendard-Black';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/* 제주 돌담체 */
@font-face {
    font-family: 'EF_jejudoldam';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Ria Sans */
@font-face {
    font-family: 'RiaSans-ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/RiaSans-ExtraBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}