<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="logo icon" type="image/x-icon" href="../static/img/red.png" />
    <title>도담도담</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bookInfo.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="search-box">
                <img src="../static/img/logo.png" alt="" onclick="location.href='main.html'">
                <input type="search" class="search" placeholder="도서명 또는 저자를 입력하세요.">
            </div>
            <div class="book">
                <img src="../static/img/sample-book.png" alt="">
                <div class="content">
                    <div class="title-box">
                        <h1>채식주의자</h1>
                        <button>대출 예약</button>
                    </div>
                    <div class="sub-info">
                        <p class="writer">저자 : 한강 지음</p>
                        <p class="publisher">출판사 : 창비</p>
                        <p class="year">출판년도 : 2022</p> 
                    </div>
                    <p class="book-info">2016년 인터내셔널 부커상을 수상하며 한국문학의 입지를 한단계 확장시킨 한강의 장편소설. 상처받은 영혼의 고통과 식물적 상상력의 강렬한 결합을 정교한 구성과 흡인력 있는 문체로 보여주며 섬뜩한 아름다움의 미학을 한강만의 방식으로 완성한 역작이다.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>