<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="logo icon" type="image/x-icon" href="../static/img/red.png" />
    <title>도담도담</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/borrow.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="search-box">
                <img src="../static/img/logo.png" alt="" onclick="location.href='main.html'">
                <input type="search" class="search" placeholder="도서명 또는 저자를 입력하세요.">
            </div>
            <p>도서를 검색해 주세요.</p>
        </div>
    </div>
</body>
</html>