<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="logo icon" type="image/x-icon" href="{{ url_for('static', filename='img/red.png') }}" />
    <title>도담도담</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/management.css') }}">
</head>
<body>
    <div class="container">
        <a href="{{ url_for('borrow') }}" class="management-box">
            <h2 class="management-name">도서 대출</h2>
            <img src="{{ url_for('static', filename='img/book.png') }}" alt="" class="management-img">
        </a>
        <a href="{{ url_for('return_page') }}" class="management-box">
            <h2 class="management-name">도서 반납</h2>
            <img src="{{ url_for('static', filename='img/book.png') }}" alt="" class="management-img">
        </a>
    </div>
</body>
</html>