<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="logo icon" type="image/x-icon" href="../static/img/red.png" />
    <title>도담도담</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/return.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <h2>나의 대출 도서</h2>
            <div class="header">
                <p>도서 정보</p>
                <p>대출일</p>
                <p>반납(예정)일</p>
                <p>상태</p>
            </div>
            <ul class="book-list">
                <div class="info-box">
                    <div class="book-info">
                        <p class="title">채식주의자</p>
                        <div class="sub-info">
                            <p class="writer">한강 지음</p>
                            <p class="publisher">창비</p> 
                        </div>
                    </div>
                    <p class="borrow date">2024-10-28</p>
                    <p class="return date">2024-11-11</p>
                    <p class="state">대출증</p>
                    <button>도서 반납</button>
                </div>
                <hr>
            </ul>
        </div>
    </div>
</body>
</html>