<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="logo icon" type="image/x-icon" href="{{ url_for('static', filename='img/red.png') }}" />
    <title>도담도담</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="search-box">
                <a href="{{ url_for('main') }}">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
                </a>
                <form action="{{ url_for('search_page') }}" method="get" class="search-input">
                    <input type="search" name="keyword" class="search" autocomplete="off" placeholder="도서명을 입력하세요.">
                    <button type="submit" class="search-btn">
                        <img src="{{ url_for('static', filename='img/search-red.png') }}" alt="검색" class="search-img">
                    </button>
                </form>
            </div>

            <!-- 인기도서 -->
            <div class="top">
                <h1>인기도서<span>TOP3</span></h1>
                <div class="book-box">
                    {% for book in popular_books %}
                    <div class="book" 
                         data-title="{{ book.book_title }}" 
                         data-author="{{ book.author }}" 
                         data-publisher="{{ book.publisher }}" 
                         data-cover="{{ book.cover_image }}">
                        <img src="{{ book.cover_image }}" alt="{{ book.book_title }} cover">
                        <div class="content">
                            <div class="book-info">
                                <p class="title">{{ book.book_title }}</p>
                                <div class="sub-info">
                                    <p class="writer">{{ book.author }}</p>
                                    <p class="publisher">{{ book.publisher }}</p>
                                </div>
                            </div>
                            <button class="button reserve-btn">대출<br>예약</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- 신착도서 -->
            <div class="new">
                <h1>신착도서<span>New</span></h1>
                <div class="book-box">
                    {% for book in new_books %}
                    <div class="book" 
                        data-title="{{ book.title }}" 
                        data-author="{{ book.author }}" 
                        data-publisher="{{ book.publisher }}" 
                        data-cover="{{ book.cover }}">
                        <img src="{{ book.cover }}" alt="{{ book.title }} cover">
                        <div class="content">
                            <div class="book-info">
                                <p class="title">{{ book.title }}</p>
                                <div class="sub-info">
                                    <p class="writer">{{ book.author }}</p>
                                    <p class="publisher">{{ book.publisher }}</p>
                                </div>
                            </div>
                            <button class="button reserve-btn">대출<br>예약</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

    <!-- 팝업 -->
    <div class="popup">
        <p>도서를 예약하시겠습니까?</p>
        <button id="confirm-btn">확인</button>
        <button onclick="closePopup()">취소</button>
    </div>

    <div class="confirmation-popup">
        <img src="{{ url_for('static', filename='img/heart.png') }}" alt="Success" class="heart-img">
        <p>대출이 예약되었습니다</p>
    </div>

    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
</body>
</html>
