<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="logo icon" type="image/x-icon" href="../static/img/red.png" />
    <title>도담도담</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/search.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="search-box">
                <img src="../static/img/logo.png" alt="" onclick="location.href='main.html'">
                <input type="search" class="search" placeholder="도서명 또는 저자를 입력하세요.">
            </div>
            <div class="new">
                <h1>신착도서<span>New</span></h1>
                <div class="book-box">
                    <div class="book">
                        <img src="../static/img/sample-book.png" alt="">
                        <div class="content">
                            <div class="book-info">
                                <p class="title">채식주의자</p>
                                <div class="sub-info">
                                    <p class="writer">한강 지음</p>
                                    <p class="publisher">창비</p> 
                                </div>
                            </div>
                            <button onclick="openPopup()">대출<br>예약</button>
                        </div>
                    </div>

                    <div class="book">
                        <img src="../static/img/sample-book2.png" alt="">
                        <div class="content">
                            <div class="book-info">
                                <p class="title">채식주의자</p>
                                <div class="sub-info">
                                    <p class="writer">한강 지음</p>
                                    <p class="publisher">창비</p> 
                                </div>
                            </div>
                            <button onclick="openPopup()">대출<br>예약</button>
                        </div>
                    </div>

                    <div class="book">
                        <img src="../static/img/sample-book3.png" alt="">
                        <div class="content">
                            <div class="book-info">
                                <p class="title">채식주의자</p>
                                <div class="sub-info">
                                    <p class="writer">한강 지음</p>
                                    <p class="publisher">창비</p> 
                                </div>
                            </div>
                            <button onclick="openPopup()">대출<br>예약</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="top">
                <h1>인기도서<span>TOP3</span></h1>
                <div class="book-box">
                    <div class="book">
                        <img src="../static/img/sample-book.png" alt="">
                        <div class="content">
                            <div class="book-info">
                                <p class="title">채식주의자</p>
                                <div class="sub-info">
                                    <p class="writer">한강 지음</p>
                                    <p class="publisher">창비</p> 
                                </div>
                            </div>
                            <button onclick="openPopup()">대출<br>예약</button>
                        </div>
                    </div>

                    <div class="book">
                        <img src="../static/img/sample-book2.png" alt="">
                        <div class="content">
                            <div class="book-info">
                                <p class="title">채식주의자</p>
                                <div class="sub-info">
                                    <p class="writer">한강 지음</p>
                                    <p class="publisher">창비</p> 
                                </div>
                            </div>
                            <button onclick="openPopup()">대출<br>예약</button>
                        </div>
                    </div>

                    <div class="book">
                        <img src="../static/img/sample-book3.png" alt="">
                        <div class="content">
                            <div class="book-info">
                                <p class="title">채식주의자</p>
                                <div class="sub-info">
                                    <p class="writer">한강 지음</p>
                                    <p class="publisher">창비</p> 
                                </div>
                            </div>
                            <button onclick="openPopup()">대출<br>예약</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- popup -->
    <!-- 첫 번째 팝업 창 -->
    <div class="popup">
        <p>도서를 대출하시겠습니까?</p>
        <button onclick="confirmReturn()">확인</button>
    </div>

    <!-- 두 번째 팝업 창 (반납 완료 메시지) -->
    <div class="confirmation-popup">
        <img src="../static/img/check.png" alt="" class="successful-img">
        <p>도서가 대출되었습니다:)</p>
        <span class="date">반납일 : 2024-11-11</span>
    </div>

    <script src="../static/js/search.js"></script>
</body>
</html>