<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="logo icon" type="image/x-icon" href="../static/img/app.png" />
    <title>도담도담</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/start.css">
</head>
<body>
    <div class="title-box">
        <h1 class="title">도담도담</h1>
        <h2 class="sub-title">도서관을 손안에, 더 쉽고 간편하게</h2>
        <button class="start" onclick="location.href='main.html'">시작하기 <img src="../static/img/start_arrow.png" alt=""></button>
    </div>
</body>
</html>