<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="logo icon" type="image/x-icon" href="{{ url_for('static', filename='img/red.png') }}" />
    <title>도담도담</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
</head>
<body>
    <div class="title-box">
        <h1 class="title">도담도담</h1>
        <h2 class="sub-title">도서관을 손안에, 더 쉽고 간편하게</h2>
    </div>

    <form action="{{ url_for('user') }}" method="POST" autocomplete="off" class="user-from">
        <input type="number" name="user_id" class="user-info" placeholder="학번을 입력하세요." required>
        <input type="text" name="user_name" class="user-info" placeholder="이름을 입력하세요." required>
        <input type="submit" value="시작하기" class="submit">
    </form>
</body>
</html>